<!DOCTYPE html>
<html>
<title>Payment to SHIVAM KOUSHIK</title>

<body>
    <h3>Welcome to Payment Gateway</h3>
    <form action="stripePayment" method="POST">
        <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= key %>"
            data-amount="10000" data-currency="INR" data-name="SHIVAM KOUSHIK" data-description="Buy Fertilizers"
            data-locale="auto">
            </script>
    </form>
</body>

</html>