<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful</title>
    <style>
        @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

        .success-msg {
            color: #270;
            background-color: #dff2bf;
            padding: 8px;
        }

        html {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 300;
            margin: 25px;
        }

        body {
            width: 640px;
        }
    </style>
</head>

<div class="success-msg">
    <i class="fa fa-check"></i>
    This is a success message.
</div>

</html>